[run]
source = py/prospect
omit =
   py/prospect/_version.py
   py/prospect/conftest*
   py/prospect/cython_version*
   py/prospect/setup_package*
   py/prospect/*/setup_package*
   py/prospect/*/*/setup_package*
   py/prospect/sphinx/*
   py/prospect/test/*
   py/prospect/*/test/*
   py/prospect/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   def main\(.*\):
