<HTML>

<HEAD>
<TITLE>DESI spectra in CMX exposure {{ expo }} </TITLE>
</HEAD>

<BODY>
<h2> DESI spectra for CMX exposure {{ expo }} </h2>
<p> Using frames, no redrock fit.
<br> {{ expo }} has {{ nspec }} spectra in total.
<br> Divided into subsets sorted by fiber.
<br><a href="../../index.html">Back to main index</a>

<ul>
{% for subset in subsets %}
<li><a href="specviewer_{{ expo }}_{{ subset }}.html"> View subset {{ subset }}</a> (vignette overview <a href="vignettelist_{{ expo }}_{{ subset }}.html">here</a>) </li>
{% endfor %}
</ul>

</BODY>
</HTML>
