<HTML>

<HEAD>
<TITLE>DESI spectra in CMX exposure {{ expo }} </TITLE>
</HEAD>

<BODY>
<h2> DESI spectra for CMX exposure {{ expo }} </h2>
<p> Using frames, no redrock fit.
<br> Divided into spectrographs / fiber.
<br><a href="../../index.html">Back to main index</a>

{% for specnum in ["0","1","2","3","4","5","6","7","8","9"] %}
    {% set i_spec = specnum | int %}
    <h3> Spectrograph {{ specnum }} </h3>
    <ul>
    {% for i_subset in subset_dict[specnum] %}
        {% set i_sub = i_subset | int %}
        {# Assigment of fiber numbers to spectrographs is still hard-coded #}
        {% set fibermin = 500*(i_spec)+(i_sub-1)*nspec_per_page %}
        {% set fibermax = 500*(i_spec)+(i_sub)*nspec_per_page-1 %}
        {% if fibermax > 500*(i_spec+1)-1 %}
            {% set fibermax = 500*(i_spec+1)-1 %}
        {% endif %}
        <li>Fibers {{ fibermin }} to {{ fibermax }} : 
            <a href="thumbs_specviewer_{{ expo }}_spectro{{ specnum }}_{{ i_subset }}.html"> View thumb gallery</a> -
            <a href="specviewer_{{ expo }}_spectro{{ specnum }}_{{ i_subset }}.html"> Full viewer </a>
        </li>
    {% endfor %}
    </ul>
{% endfor %} 

</BODY>
</HTML>
