<HTML>

<HEAD>
<TITLE>DESI spectra in {{ pixel }} </TITLE>
</HEAD>

<BODY>
<h2> DESI spectra for targets in HEALPIX pixel {{ pixel }} </h2>
<p> All spectra from a given target are coadded.
<br> {{ pixel }} has {{ nspec }} available spectra in total.
<br> Divided into subsets sorted by right ascension.

<ul>
{% for subset in subsets %}
<li><a href="specviewer_{{ pixel }}_{{ subset }}.html"> View subset {{ subset }}</a> (vignette overview <a href="vignettelist_{{ pixel }}_{{ subset }}.html">here</a>) </li>
{% endfor %}
</ul>

</BODY>
</HTML>
