<HTML>

<HEAD>
	<TITLE>DESI spectra for {{ target }} targets </TITLE>
</HEAD>

<BODY>
	<h2> DESI spectra for {{ target }} targets in Healpix {{ pixel }} </h2>
<p> All spectra from a given target are coadded.
<br> {{ pixel }} has {{ nspec }} available spectra for targets of category {{ target }}.
<br> Divided into subsets sorted by target ID.
<br><a href="../../index.html">Back to main index</a>

<ul>
{% for subset in subsets %}
<li><a href="specviewer_{{ target }}_{{ pixel }}_{{ subset }}.html"> View subset {{ subset }}</a> (vignette overview <a href="vignettelist_{{ pixel }}_{{ subset }}.html">here</a>) </li>
{% endfor %}
</ul>

</BODY>
</HTML>
