<HTML>

<HEAD>
<TITLE>Prototype DESI spectrum viewer - main index </TITLE>
</HEAD>

<BODY>
<h1> Prototype DESI spectrum viewer - main index </h1>

<h3> Sets of spectra sorted by exposure </h3>
<ul>
{% for expo in exposures %}
<li><a href="exposures/{{ expo }}/index_{{ expo }}.html">{{ expo }}</a></li>
{% endfor %}
</ul>
 
<h3> Sets of spectra sorted by pixels </h3>
<ul>
{% for pix in pixels %}
<li><a href="pixels/{{ pix }}/index_{{ pix }}.html">{{ pix }}</a></li>
{% endfor %}
</ul>

<h2> Spectra sorted by some target categories </h2>

<h3> BGS_ANY targets </h3>
<ul>
{% for pix in bgs_pixels %}
<li><a href="bgs_targets/pixels/{{ pix }}/index_{{ pix }}.html">{{ pix }}</a></li>
{% endfor %}
</ul>

<h3> ELG targets </h3>
<ul>
{% for pix in elg_pixels %}
<li><a href="elg_targets/pixels/{{ pix }}/index_{{ pix }}.html">{{ pix }}</a></li>
{% endfor %}
</ul>

<h3> LRG targets </h3>
<ul>
{% for pix in lrg_pixels %}
<li><a href="lrg_targets/pixels/{{ pix }}/index_{{ pix }}.html">{{ pix }}</a></li>
{% endfor %}
</ul>

<h3> QSO targets </h3>
<ul>
{% for pix in qso_pixels %}
<li><a href="qso_targets/pixels/{{ pix }}/index_{{ pix }}.html">{{ pix }}</a></li>
{% endfor %}
</ul>

</BODY>
</HTML>
